<h2> Hello! {{title}} </h2>

<p> I cant change live data here.. </p>

<!-- Connect our frontend to a backend variable -->
<h2> Number: {{countNum}} </h2>
<!-- When this button detects a click, run the addNum () -->
<input type="number" id="inputNum"> 
<button (click)="addNum()"> Click me to add to number! </button>

<!-- Pass the data from our main.app comp down to our child comp -->
<!-- Inputs are [] Outputs are () -->
<app-child-comp [childNum]=countNum (outputNumberEvent)=resetNumberParent($event)> </app-child-comp>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>

